import { <%- className %>ViewModel } from '@puq/model';
import { ViewEntity, BaseView, ViewColumn } from '@puq/orm';
import { <%- className %> } from './<%- fileName %>.entity.js';

@ViewEntity((q) => q.addSelect('m.name', 'name').from(<%- className %>, 'm'))
export class <%- className %>View extends BaseView implements <%- className %>ViewModel {
  @ViewColumn({ type: 'string' }) name: string;
}
